<html>
    <head>
        <title>secret login</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        <div class="ui main text container segment">
            <div class="ui huge header">Log In</div>
            <div class="ui top attached segment">
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <button>Submit</button>
                </form>
        
                <div>
                    <li><a href="/">Go Home</a></li>
                </div>
            </div>
        </div>
    </body>
</html>
